.root {
    -fx-background-color: #2b2b2b; /* Dark background */
}

.label {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff; /* White text */
}


.text-field {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* White text */
    -fx-background-color: #444444; /* Dark gray background */
    -fx-border-color: #ffffff; /* White border */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff; /* White text */
    -fx-background-color: #444444; /* Dark gray background */
    -fx-border-color: #ffffff; /* White border */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #666666; /* Light gray on hover */
}

.button:pressed {
    -fx-background-color: #222222; /* Darker gray when pressed */
}

/* Custom style for the title label */
.title-label {
    -fx-font-size: 32px;
    -fx-text-fill: #ff0000; /* Red text */
}