


.title-label {
    -fx-font-family: "Press Start 2P Regular";
    -fx-font-size: 50px;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;

    -fx-effect: dropshadow(gaussian, black, 4, 0.8, 2, 2);
}

.menu-button {
    -fx-font-family: "Press Start 2P Regular";
    -fx-font-size: 32px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, black, 4, 0.8, 2, 2);

}



.menu-button:hover {
    -fx-text-fill: #d2d2d2;
}


.menu-button:focused {
    -fx-text-fill: #d2d2d2;
}
